$navimg: url("../files/nav-background.avif");
$principalcolor: rgb(0, 0, 0, 0.7);
$bgimg: url("../files/background.jpg") ;
$fontcolor: rgb(255, 255, 255);
$distancesnavitem: 6.5rem;
$navsize: 3.5rem;
$fontsizenav: 1.5rem;
$fontfamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif black;
$navcolor: rgb(19, 37, 199);
$secondcolor: rgba(32, 6, 104, 0.6);
